*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container-3{
    width: 100%;
    height: 550px;
    background-color: #c8cfbb;
    display: flex;
}

.box-left{
    width: 50%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.kantener{
    width: 100%;
    height: 80%;
    display: flex;
   overflow-x: scroll;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
   /* background-color: rgba(0,0,0,0.4); */
}

.kantener .gallery{
    width: 100%;
    /* display: flex; */
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 2px;
    flex: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.kantener .gallery img{
    width: 100%;
    height: 100%;
}

.kantener::-webkit-scrollbar{
    display: none;
}

.controller{
    width: 100%;
    height: 10%;
    /* background-color: aliceblue; */
    display: flex;
}




.box-right{
    width: 50%;
    height: 100%;
    color: whitesmoke;
    background-color: #434f2c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inbox{
    padding: 0px 15px;
    width: 550px;   /* --------*/
    height: 500px;
    /* background-color: rgba(0,0,0,0.4); */

    align-content:space-evenly ;
    
}

.inbox h1, h4, p{
    color: whitesmoke;
    padding: 10px 0px;
    
}

/* media-----------------1024, 912-x, 768, 600, 390*/

@media screen and (max-width:1024px) {
    .container-3{
        width: 100%;
        height: 500px;
        background-color: #c8cfbb;
        display: flex;
    }
    .inbox{
        padding: 0px 10px;
        width: 450px;   /* --------*/
        height: 400px;
        align-content:space-evenly ;
    }
}


@media screen and (max-width:768px) {
    .container-3{
        width: 100%;
        height: 500px;
        background-color: #c8cfbb;
        display: flex;
    }
    .inbox{
        padding: 0px 10px;
        width: 400px;   /* --------*/
        height: 370px;
        align-content:space-evenly ;
    }

    .swiper{
        width: 100%;
        height: 100%;
    }
    
    .box-right{
        font-size: 12px;
        width: 50%;
        height: 100%;
        color: whitesmoke;
        background-color: #434f2c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .container-3{
        width: 100%;
        height: 800px;
        background-color: #c8cfbb;
        display:grid;
    }
    .inbox{
        padding: 0px 10px;
        width: 400px;   /* --------*/
        height: 400px;
        align-content:space-evenly ;
    }

    .swiper{
        width: 100%;
        height: 100%;
    }

    .box-right{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .box-left{
        width: 100%;
        height: 100%;
        
    }
    .inbox h1{
        font-size: 22px;
    }
    .inbox p{
        font-size: 14px;
    }
}

@media screen and (max-width:390px) {
    .container-3{
        width: 100%;
        height: 600px;
        background-color: #c8cfbb;
        display:grid;
    }
    .inbox{
        padding: 10px 10px;
        width: 300px;   /* --------*/
        height: 300px;
        align-content:space-evenly ;

        justify-content: center;
        
    }

    .swiper{
        width: 100%;
        height: 100%;
    }

    .box-right{
        width: 100%;
        height: 100%;
        
    }
    .box-left{
        padding: 5px;
        width: 100%;
        height: 100%;
        
    }
    .inbox h1{
        font-size: 18px;
    }
    .inbox p{
        font-size: 10px;
    }
}